section#page1.about
    .aboutcontent
        h2 ABOUT
        hr
        p Hi, I am Carlos. 
        p 畢業於第一科大資管系，由於非常喜歡有趣的互動特效網頁，加上有時逛到設計和功能體驗不佳的網站，促使我踏入網頁設計的領域
        p 兩年來利用課餘時間自學網頁開發技術，從原生手刻一步步使用到預處理器、框架和自動化編譯，對於學習新的技術我很樂在其中
        p 同時也在學校課程中實際架設伺服器、資料庫實作，以及平時逛逛Pinterest\Dribbble吸收各種新穎奇妙的設計
        p 未來的目標是成為頂尖的網頁前端工程師，用最新的技術優化網頁、創造更好的使用者體驗、製作新奇有趣的互動特效
        .resume
            a.btn_resume(href='https://github.com/evilz0212/Carlos-Resume', target='_blank') resume
                i.fa.fa-external-link(aria-hidden='true')
        a(href='#')