section#page4.contact
    .contactcontent
        h2 CONTACT
        hr
        .contact
            .contactleft
                img.me(src='images/mepic.jpg', alt='')
                h4 Carlos
                p
                    i.fa.fa-envelope.mail(aria-hidden='true')
                    | evilz0212@gmail.com
                ul
                    li
                        a(href='https://www.linkedin.com/in/guan-yi-9830ab8a', target='_blank')
                            i.fa.fa-linkedin(aria-hidden='true', target='_blank')
                    li
                        a(href='https://twitter.com/evilz0212', target='_blank')
                            i.fa.fa-twitter(aria-hidden='true')
                    li
                        a(href='https://github.com/evilz0212', target='_blank')
                            i.fa.fa-github(aria-hidden='true')
        .clearfix