header.parallax-window01(data-parallax='scroll', data-image-src='images/bg-1.jpg', width='1400px', height='840px')
    #page5.maintitle
        .maintitlecontent
            h1 Carlos
            h1 portfolio
            hr
            p Welcome To My Work
            p Web Design - UI Design - FrontEnd Development
            a(href='#')
            .mouse-icon
                .wheel