nev.indexmenu
    .kalologo
        a(href='#page5')
            img(src='images/kalologo.svg', alt='')
            h2 KALO DESIGN
    ul.menu
        li
            a(href='#page4') CONTACT
        li
            a(href='#page3') WORKS
        li
            a(href='#page2') SKILL
        li
            a(href='#page1') ABOUT