section#page2.skill
    .skillcontent
        h2 SKILL
        hr
        ul
            li
                span.fa-stack.fa-lg.fa-4x.st-feature
                    i.fa.fa-code.fa-stack-1x.fa-inverse.color
                h4 Website Design
                p 網頁設計 / 前端設計
                p HTML5、Pug、CSS3、SASS、RWD
                p PostCSS、OOCSS、SMACSS、BEM
                p Git、Sourcetree、Webpack、NPM
            li
                span.fa-stack.fa-lg.fa-4x.st-feature
                    i.fa.fa-diamond.fa-stack-1x.fa-inverse.color
                h4 Visual Design
                p UI 設計 / 影像後製
                p Illustrator、Photoshop
                p OmniGraffle、Adobe XD
                p Flow Chart、Wireframe
            li
                span.fa-stack.fa-lg.fa-4x.st-feature
                    i.fa.fa-inbox.fa-stack-1x.fa-inverse.color
                h4 Data Processing
                p 文書處理 / 資訊整合
                p Word、Markdown
                p Excel、Powerpoint
                p Data visualization
        .clearfix