include components/demo.pug

section#page3.parallax-window02(data-parallax='scroll', data-image-src='images/bg-2.jpg', width='1980', height='1080')
    .portfoliocontent
        h2 WORKS
        hr
        .allportfolio
            ul
                +demo('Demo01', 'AJAX結合購物車載入清單', 'https://evilz0212.github.io/Practice-Ajax-Buylist/app/dist', 'images/demo01.jpg')
                    p.tags AJAX
                    p.tags JSON
                +demo('Demo02', '動態互動天氣盒子', 'https://evilz0212.github.io/Practice-Dynamic-Daybox/app/dist', 'images/demo02.jpg')
                    p.tags CSS動畫
    .clearfix
